
    <html>
    <body>
    <table border="0">
        <tr><td>Hello Mr {{ name }}</td></tr>
        <tr><td>You've chosen the premium service to deliver your command with the id of {{ id }}
                Your command will arrive after 1 hour></td></tr>

        <tr><td>please report our services if the command has arrvied late
                here : <a href="http://127.0.0.1:8000/claim/">Report</a>  </td></tr>
    </table>
    </body>
    </html>
