<html>

<body>
<table border="0">
    <tr><td>
            Hello Mr/Ms{{ name }}
        </td></tr>
    <tr><td>
            You Order a Premium delivery
        </td> </tr>
    <tr><td>
        </td> </tr>
</table>
</body>
</html>