{% extends 'base.html.twig' %}

{% block body %}
    <h1>Participant creation</h1>




    <ul>
        <li>
            <a href="{{ path('participants_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
